<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Book added</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/all.css"></link>

    <script src="/webjars/jquery/jquery.min.js"></script>
  </head>
  <body>
    <div id="main_menu"></div>

    <div class="container my-5">
      <h2 class="mb-5">Book added successfully</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="row" th:object="${book}">
            <div class="form-group col-md-12">
              <label for="name" class="col-form-label">Name</label>
              <p id=name th:text="*{name}">name</p>
            </div>
            <div class="form-group col-md-12">
              <label for="author" class="col-form-label">Author</label>
              <p id=author th:text="*{author}">author</p>
            </div>
            <div class="form-group col-md-12">
              <label for="genre" class="col-form-label">Genre</label>
              <p id=genre th:text="*{genre}">genre</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-5">
              <a href="/library/books" th:href="@{/library/books}" class="btn btn-primary"><i class="fas fa-home m-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/menu.js"></script>
  </body>
</html>
