<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
  <head>
  </head>
  <body>
    <div th:fragment="footer">
      <div class="container">
        <footer>
          &copy; 2020 SERGEY KUBATKO
          <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span>
                | Roles: <span sec:authentication="principal.authorities"></span>
                | <a th:href="@{/logout}">Sign Out</a>
            </span>

          <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        </footer>
      </div>

    </div>
  </body>
</html>
