<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionnaireDao" class="ru.skubatko.dev.otus.spring.hw01.dao.QuestionnaireDaoImpl">
        <property name="fileName" value="questionnaire.csv" />
    </bean>

    <bean id="questionnaireService" class="ru.skubatko.dev.otus.spring.hw01.service.QuestionnaireServiceImpl">
        <constructor-arg name="dao" ref="questionnaireDao" />
    </bean>
</beans>
